/* default colors 
$color-primary:  ;
$color-primary-light: ;
$color-primary-dark: ;

$color-secondary:  ;
$color-secondary-light: ;
$color-secondary-dark: ;

$color-logo: ;
*/


/* overall site reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set global font parameters*/
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;

    /* white padding around entire body */ 
    /* padding: 5px; */ 
}

.header {
    height: 100vh;
    
    background-image: url(../img/logo_no_headings.png);
    background-size: 50%;
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #da533c;
}

.logo-box {
    position: absolute;
    top: 20%;
    left: 45%;

    font-size: 200px;
    
}

.container{
    justify-content: center;
    flex-direction: row;

    color: #990000;
    font-family: 'Marcellus SC', serif;
    
  }

  .container-forward {
    display: flex;
  }

  .container-flipV {
    display: flex;
    
    transform: scale(1, -1);
    
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
  }

.text-box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -20%);

    font-family: 'Marcellus SC', serif;
    text-align: center;
}
.heading-primary {
    margin-bottom: 50px;
    color: white;
}

.heading-primary-main {
    display: block;
    font-size: 48px;
    letter-spacing: 11px;
}

.heading-primary-sub {
    display: block;
    font-size: 24px;
    letter-spacing: 3px;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/*
.btn:hover {
    transform: translateY(-3px);
}
*/

.btn:active {
    transform: translateY(1px);
}
