/* default colors 
$color-primary: #ed462f;
$color-primary-light: ;
$color-primary-dark: ;

$color-secondary: #4446e5;
$color-secondary-light: ;
$color-secondary-dark: ;

$color-tertiary: #627a7f;

$color-white: #fff;

$color-grey: #627a7f;

$color-logo: #ed462f;
*/


/* overall site reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

/* set global font parameters*/
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;

    /* white padding around entire body */ 
    /* padding: 5px; */ 
}

.header {
    height: 100vh;
    
    background-image: url(../img/logo_headings_removed_text.jpg);
    background-size: 45%;
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #ed462f;
}

.logo-box {
    position: absolute;
    top: 20%;
    left: 45%;

    font-size: 20rem;
    
}

.container{
    justify-content: center;
    flex-direction: row;

    color: #990000;
    font-family: 'Marcellus SC', serif;
    
  }

  .container-forward {
    display: flex;
  }

  .container-flipV {
    display: flex;
    
    transform: scale(1, -1);
    
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
  }

.text-box {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -20%);

    font-family: 'Marcellus SC', serif;
    text-align: center;
}
.heading-primary {
    margin-bottom: 5rem;
    color: white;
}

.heading-primary-main {
    display: block;
    font-size: 4.8rem;
    letter-spacing: 1.1rem;
}

.heading-primary-sub {
    display: block;
    font-size: 2.4rem;
    letter-spacing: .3rem;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 3rem;
}

/*
.btn:hover {
    transform: translateY(-3px);
}
*/

.btn:active {
    transform: translateY(1px);
}

.front-page__header {
    height: 600px;
    background-image: url(../img/typecase_with_lead-type.jpg);
    background-size: cover;

}

.front-page {
    background-color: #627a7f;
    color: white;
}
